Repository akka/akka, pull requests merged in 2021-09, with the labels that each got.

#30606 Make RestartSpec a little bit less flaky
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
Labels: t:stream

#30624 Make HubSpec draining support tests more robust w.r.t. CI environments #30581
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/HubSpec.scala
Labels: t:stream

#30634 FlowThrottleSpec: Track time in stream, verify intervals after
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowThrottleSpec.scala
Labels: t:stream

#30616 flatMapPrefix stuck on cancellations
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowFlatMapPrefixSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/FlatMapPrefix.scala
Labels: t:stream

#30406 akka-persistence compiling on Scala3
  .github/workflows/scala3-build.yml
  akka-persistence/src/main/mima-filters/2.6.15.backwards.excludes/fsm.excludes
  akka-persistence/src/main/scala/akka/persistence/Persistence.scala
  akka-persistence/src/main/scala/akka/persistence/PersistencePlugin.scala
  akka-persistence/src/main/scala/akka/persistence/fsm/PersistentFSM.scala
  akka-persistence/src/main/scala/akka/persistence/fsm/PersistentFSMBase.scala
  akka-persistence/src/main/scala/akka/persistence/journal/EventAdapters.scala
  akka-persistence/src/main/scala/akka/persistence/journal/leveldb/LeveldbIdMapping.scala
Labels: tested

#30658 Better test failure logging
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
Labels: t:stream

#30653 Update metrics-core, metrics-jvm to 4.2.3
  project/Dependencies.scala
Labels: dependency-change

#30650 Update gson to 2.8.8
  project/Dependencies.scala
Labels: dependency-change

#30690 Compile akka-cluster-metrics on scala3
  .github/workflows/scala3-build.yml
  akka-cluster-metrics/src/main/scala/akka/cluster/metrics/ClusterMetricsExtension.scala
  akka-cluster-metrics/src/main/scala/akka/cluster/metrics/ClusterMetricsRouting.scala
  akka-cluster-metrics/src/test/scala/akka/cluster/metrics/MetricSpec.scala
  akka-remote/src/test/scala/akka/remote/Ticket1978CommunicationSpec.scala
  project/Dependencies.scala
Labels: dependency-change
