Repository akka/akka, pull requests merged in 2021-11, with the labels that each got.

#30867 Update gson to 2.8.9
  project/Dependencies.scala
Labels: dependency-change

#30870 updated scala versions
  akka-actor-testkit-typed/src/main/mima-filters/2.6.18.backwards.excludes/product-iterator-type-signature-with-scala-2.13.7.excludes
  akka-actor-typed/src/main/scala/akka/actor/typed/internal/WithMdcBehaviorInterceptor.scala
  akka-actor/src/main/scala/akka/util/PrettyByteString.scala
  akka-cluster/src/multi-jvm/scala/akka/cluster/StressSpec.scala
  akka-persistence-shared/src/test/scala/akka/persistence/journal/leveldb/SharedLeveldbJournalSpec.scala
  akka-remote-tests/src/multi-jvm/scala/akka/remote/classic/RemoteRestartedQuarantinedSpec.scala
  akka-remote/src/main/scala/akka/remote/artery/tcp/TcpFraming.scala
  akka-remote/src/test/scala/akka/remote/artery/RemoteMessageSerializationSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/DslConsistencySpec.scala
  project/AkkaDisciplinePlugin.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change

#30884 Add access pattern simulator for testing entity passivation strategies
  akka-cluster-sharding/src/test/resources/arc-trace-database.conf
  akka-cluster-sharding/src/test/resources/arc-trace-search.conf
  akka-cluster-sharding/src/test/resources/reference.conf
  akka-cluster-sharding/src/test/resources/synthetic-zipfian.conf
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/passivation/simulator/AccessPattern.scala
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/passivation/simulator/Simulator.scala
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/passivation/simulator/SimulatorSettings.scala
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/passivation/simulator/SimulatorStats.scala
  project/AkkaDisciplinePlugin.scala
  project/Dependencies.scala
Labels: dependency-change

#30910 scala3: test akka-stream-typed
  .github/workflows/scala3-build.yml
  .github/workflows/scala3-compile.yml
  akka-stream-typed/src/test/scala/docs/scaladsl/ActorFlowSpec.scala
Labels: t:stream

#30909 Update incorrect reactive streams spec rule number
  akka-stream/src/main/scala/akka/stream/impl/ReactiveStreamsCompliance.scala
Labels: t:stream

#30941 Use GhExcludeTest in CI again
  .github/workflows/build-test-prValidation.yml
  .github/workflows/multi-node.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/scala3-build.yml
  .jvmopts-ci
  .sbtopts
  akka-actor-tests/src/test/scala/akka/pattern/CircuitBreakerMTSpec.scala
  akka-actor-tests/src/test/scala/akka/routing/BalancingSpec.scala
  akka-actor-tests/src/test/scala/akka/util/BoundedBlockingQueueSpec.scala
  akka-cluster-metrics/src/multi-jvm/scala/akka/cluster/metrics/ClusterMetricsRoutingSpec.scala
  akka-cluster-sharding-typed/src/multi-jvm/scala/akka/cluster/sharding/ClusterShardingRememberEntitiesPerfSpec.scala
  akka-cluster-sharding-typed/src/multi-jvm/scala/akka/cluster/sharding/typed/ClusterShardingPreparingForShutdownSpec.scala
  akka-cluster-sharding-typed/src/test/scala/akka/cluster/sharding/typed/delivery/DurableShardingSpec.scala
  akka-cluster-sharding-typed/src/test/scala/akka/cluster/sharding/typed/delivery/ReliableDeliveryShardingSpec.scala
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/PersistentStartEntitySpec.scala
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/StartEntitySpec.scala
  akka-cluster/src/test/scala/akka/cluster/JoinConfigCompatCheckerRollingUpdateSpec.scala
  akka-cluster/src/test/scala/akka/cluster/JoinConfigCompatCheckerSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/StreamRefsSpec.scala
Labels: t:stream

#30938 Waits with sending complete message until last message has been ackno…
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/ActorRefBackpressureSinkSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/ActorRefBackpressureSinkStage.scala
Labels: t:stream
