Repository akka/akka, pull requests merged in 2022-02, with the labels that each got.

#31101 Update config to 1.4.1
  .scala-steward.conf
  project/Dependencies.scala
Labels: dependency-change

#31066 Use apidoc directive in typed/cluster.md (#22904)
  akka-docs/src/main/paradox/typed/cluster.md
Labels: t:docs

#31104 Update typesafe config to 1.4.2
  project/Dependencies.scala
Labels: dependency-change

#31116 add copyright headers
  akka-actor-tests/src/test/scala/akka/util/FrequencySketchSpec.scala
  akka-actor-tests/src/test/scala/akka/util/ZipfianGenerator.scala
  akka-actor/src/main/scala/akka/util/FrequencySketch.scala
  akka-bench-jmh/src/main/scala/akka/remote/artery/compress/SerializationFormatCacheBenchmark.scala
  akka-bench-jmh/src/main/scala/akka/util/ByteString_apply_Benchmark.scala
  akka-bench-jmh/src/main/scala/akka/util/FastFrequencySketchBenchmark.scala
  akka-bench-jmh/src/main/scala/akka/util/FrequencySketchBenchmark.scala
  akka-stream-typed/src/main/scala/akka/stream/typed/javadsl/PubSub.scala
  akka-stream-typed/src/main/scala/akka/stream/typed/scaladsl/PubSub.scala
  akka-stream-typed/src/test/scala/akka/stream/typed/scaladsl/PubSubSpec.scala
Labels: t:stream

#31118 Add log capturing for typed stream tests
  akka-stream-typed/src/test/resources/logback-test.xml
  akka-stream-typed/src/test/scala/akka/stream/typed/scaladsl/ActorSourceSinkSpec.scala
  akka-stream-typed/src/test/scala/akka/stream/typed/scaladsl/MaterializerForTypedSpec.scala
  akka-stream-typed/src/test/scala/akka/stream/typed/scaladsl/PubSubSpec.scala
Labels: t:stream

#31121 Update headers for cross-compiled sources
  akka-actor-tests/src/test/scala-2.12/akka/util/LineNumberSpec.scala
  akka-actor-tests/src/test/scala-2.12/akka/util/TypedMultiMapSpec.scala
  akka-actor-tests/src/test/scala-3/akka/util/LineNumberSpec.scala
  akka-actor-typed/src/main/scala-2.12/akka/actor/typed/internal/receptionist/Platform.scala
  akka-actor-typed/src/main/scala-3/akka/actor/typed/internal/receptionist/Platform.scala
  akka-actor/src/main/scala-2.12/akka/compat/Future.scala
  akka-actor/src/main/scala-2.12/akka/compat/PartialFunction.scala
  akka-actor/src/main/scala-2.12/akka/dispatch/internal/SameThreadExecutionContext.scala
  akka-actor/src/main/scala-2.12/akka/dispatch/internal/ScalaBatchable.scala
  akka-actor/src/main/scala-2.12/akka/util/ByteIterator.scala
  akka-actor/src/main/scala-2.12/akka/util/ByteString.scala
  akka-actor/src/main/scala-2.12/akka/util/ccompat/CompatImpl.scala
  akka-actor/src/main/scala-2.12/akka/util/ccompat/ccompatUsedUntil213.scala
  akka-actor/src/main/scala-2.12/akka/util/ccompat/package.scala
  akka-actor/src/main/scala-3/akka/dispatch/internal/ScalaBatchable.scala
  akka-actor/src/main/scala-3/akka/util/ByteIterator.scala
  akka-actor/src/main/scala-3/akka/util/ByteString.scala
  akka-cluster-typed/src/main/scala-2.12/akka/cluster/typed/internal/receptionist/ClusterReceptionistProtocol.scala
  akka-cluster-typed/src/main/scala-3/akka/cluster/typed/internal/receptionist/ClusterReceptionistProtocol.scala
  akka-distributed-data/src/main/scala-3/akka/cluster/ddata/GSet.scala
  akka-persistence-typed-tests/src/test/scala/akka/persistence/typed/state/scaladsl/DurableStateBehaviorTimersSpec.scala
  akka-persistence-typed-tests/src/test/scala/akka/persistence/typed/state/scaladsl/NullEmptyStateSpec.scala
  akka-persistence/src/main/scala-3/akka/persistence/TraitOrder.scala
  akka-stream/src/main/scala-2.12/akka/stream/impl/ImplicitExtensionIdApply.scala
  akka-stream/src/main/scala-3/akka/stream/impl/ImplicitExtensionIdApply.scala
  plugins/serialversion-remover-plugin/src/main/scala/akka/Plugin.scala
Labels: t:stream

#31111 Update scala-library to 2.13.8
  akka-actor-tests/src/test/scala/akka/actor/dispatch/ActorModelSpec.scala
  akka-actor/src/main/scala/akka/io/SimpleDnsManager.scala
  akka-actor/src/main/scala/akka/io/TcpConnection.scala
  akka-actor/src/main/scala/akka/io/UdpManager.scala
  akka-cluster/src/main/scala/akka/cluster/ClusterDaemon.scala
  akka-docs/src/test/java/jdocs/dispatcher/MyUnboundedMailbox.java
  akka-remote-tests/src/multi-jvm/scala/akka/remote/classic/RemoteRestartedQuarantinedSpec.scala
  akka-remote/src/main/scala/akka/remote/RemoteActorRefProvider.scala
  akka-stream/src/main/scala/akka/stream/impl/Sinks.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change

#31141 =str Add scaladoc to Graph
  akka-stream/src/main/scala/akka/stream/Graph.scala
Labels: t:stream

#31148 Harden StageActorRefSpec
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/StageActorRefSpec.scala
Labels: t:stream

#31140 =str Add java doc of Hub
  akka-stream/src/main/scala/akka/stream/javadsl/Hub.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Hub.scala
Labels: t:stream

#31179 Mark stream RestartSpec as timing sensitive, #30540
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
Labels: t:stream
