Repository akka/akka, pull requests merged in 2022-09, with the labels that each got.

#31492 Allow `Restart{Source,Flow,Sink}` to fail on certain errors
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
  akka-stream/src/main/mima-filters/2.6.19.backwards.excludes/pr-31492-restart-on.excludes
  akka-stream/src/main/scala/akka/stream/RestartSettings.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/RestartFlow.scala
Labels: t:stream

#31524 Change exception handling in SourceRefImpl
  akka-stream/src/main/scala/akka/stream/impl/streamref/SourceRefImpl.scala
Labels: t:stream

#31300 +str Add interleaveAll stream operator.
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/interleaveAll.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-docs/src/test/java/jdocs/stream/operators/SourceOrFlow.java
  akka-stream-tests/src/test/java/akka/stream/javadsl/SinkTest.java
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowInterleaveAllSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31298 +str Add mergeAll stream operator.
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/mergeAll.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-docs/src/test/java/jdocs/stream/operators/SourceOrFlow.java
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowMergeAllSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31526 =str Remove unused import.
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
Labels: t:stream

#31528 =str Rename method parameter `priority` to `preferred` for method `me…
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31545 =str Fold InHandler and OutHandler for operator ActorRefBackpressureS…
  akka-stream/src/main/scala/akka/stream/impl/ActorRefBackpressureSource.scala
Labels: t:stream

#31548 !str Drop the IODispatcher attribute of InputStreamSinkStage.
  akka-stream-tests/src/test/scala/akka/stream/io/InputStreamSinkSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/Stages.scala
  akka-stream/src/main/scala/akka/stream/javadsl/StreamConverters.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/StreamConverters.scala
Labels: t:stream

#31527 =str Rename method parameter name from `request` to `segmentSize` fo…
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31549 !str Drop the IODispatcher attribute of OutputStreamSourceStage.
  akka-stream/src/main/scala/akka/stream/impl/Stages.scala
  akka-stream/src/main/scala/akka/stream/javadsl/StreamConverters.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/StreamConverters.scala
Labels: t:stream

#31556 Fix scaladoc references to Log
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31551 =str Make Source.range simpler.
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
Labels: t:stream

#31550 =str Update FlowMergeAllSpec because the merge order is undefined.
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowMergeAllSpec.scala
Labels: t:stream

#31361 Add mapWithResource
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/mapWithResource.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-docs/src/test/java/jdocs/stream/operators/sourceorflow/MapWithResource.java
  akka-docs/src/test/scala/docs/stream/operators/sourceorflow/MapWithResource.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowStatefulMapSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/MapWithResourceSpec.scala
  akka-stream/src/main/mima-filters/2.6.20.backwards.excludes/31355-with-resource.excludes
  akka-stream/src/main/scala/akka/stream/impl/Stages.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/Ops.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/StreamConverters.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31581 doc: Note null being ignored in mapAsync/mapAsyncUnordered
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/mapAsync.md
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/mapAsyncUnordered.md
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31421 Enables Fortify SCA scans in support of SOC 2 compliance efforts
  .gitignore
  build.sbt
  project/Dependencies.scala
  scripts/runSourceAnalyzer.sh
Labels: dependency-change

#31591 =str Update MapWithResourceSpec to request 1 to fix #31585.
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/MapWithResourceSpec.scala
Labels: t:stream

#31574 =str Reduce one field in MapAsyncUnordered.
  akka-stream/src/main/scala/akka/stream/impl/fusing/Ops.scala
Labels: t:stream

#31544 =str Fold InHandler and OutHandler for operator ActorRefSource.
  akka-stream/src/main/scala/akka/stream/impl/ActorRefSource.scala
Labels: t:stream

#31535 =str Fold InHandler and OutHandler for operator Scan.
  akka-stream/src/main/scala/akka/stream/impl/fusing/Ops.scala
Labels: t:stream

#31372 =str Add IterableSource.
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/ReverseArrowSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SourceSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphStages.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31595 Update Jackson to 2.13.4, #31097
  akka-docs/src/main/paradox/project/migration-guide-2.6.x-2.7.x.md
  akka-serialization-jackson/src/main/scala/akka/serialization/jackson/JacksonObjectMapperProvider.scala
  project/Dependencies.scala
Labels: dependency-change

#31482 Update aeron-client, aeron-driver to 1.39.0
  project/Dependencies.scala
Labels: dependency-change

#31564 Update metrics-core, metrics-jvm to 4.2.12
  project/Dependencies.scala
Labels: dependency-change

#31578 =act Make akka compiles on scala 3.1.3 & 3.2.0
  akka-actor-tests/src/test/scala/akka/actor/TypedActorSpec.scala
  akka-actor-tests/src/test/scala/akka/util/ByteStringInitializationSpec.scala
  akka-actor-typed-tests/src/test/scala/docs/akka/typed/InteractionPatternsSpec.scala
  akka-actor/src/main/scala-3/akka/util/ByteIterator.scala
  akka-actor/src/main/scala-3/akka/util/ByteString.scala
  akka-actor/src/main/scala/akka/io/Dns.scala
  akka-actor/src/main/scala/akka/io/Tcp.scala
  akka-distributed-data/src/main/scala/akka/cluster/ddata/Replicator.scala
  akka-docs/src/test/scala/docs/actor/ActorDocSpec.scala
  akka-persistence-typed/src/test/scala/docs/akka/persistence/typed/PersistentFsmToTypedMigrationSpec.scala
  akka-persistence/src/main/scala/akka/persistence/fsm/PersistentFSM.scala
  akka-persistence/src/main/scala/akka/persistence/journal/leveldb/LeveldbStore.scala
  akka-persistence/src/main/scala/akka/persistence/serialization/MessageSerializer.scala
  akka-remote/src/main/scala/akka/remote/AckedDelivery.scala
  akka-remote/src/main/scala/akka/remote/Endpoint.scala
  akka-remote/src/main/scala/akka/remote/RemotingLifecycleEvent.scala
  akka-remote/src/main/scala/akka/remote/transport/FailureInjectorTransportAdapter.scala
  akka-remote/src/main/scala/akka/remote/transport/TestTransport.scala
  akka-remote/src/main/scala/akka/remote/transport/ThrottlerTransportAdapter.scala
  akka-remote/src/main/scala/akka/remote/transport/Transport.scala
  akka-remote/src/main/scala/akka/remote/transport/netty/NettyTransport.scala
  akka-remote/src/main/scala/akka/remote/transport/netty/TcpSupport.scala
  akka-remote/src/test/scala/akka/remote/classic/transport/SwitchableLoggedBehaviorSpec.scala
  akka-serialization-jackson/src/main/scala/akka/serialization/jackson/JacksonObjectMapperProvider.scala
  akka-stream-tests/src/test/scala/akka/stream/impl/fusing/AsyncCallbackSpec.scala
  akka-stream/src/main/scala/akka/stream/IOResult.scala
  akka-testkit/src/main/scala/akka/testkit/javadsl/TestKit.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change

#29636 stream: use ConcurrentHashMap to track in-progress async callbacks
  akka-stream/src/main/mima-filters/2.6.19.backwards.excludes/29557-GraphStage-changes.excludes
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphInterpreter.scala
  akka-stream/src/main/scala/akka/stream/stage/GraphStage.scala
Labels: tested, t:stream

#31607 fix: mima filter for 29557-GraphStage-changes
  akka-stream/src/main/mima-filters/2.6.20.backwards.excludes/29557-GraphStage-changes.excludes
Labels: t:stream

#31345 +str Add combine seq method to Source and Sink
  akka-stream-tests/src/test/java/akka/stream/javadsl/SinkTest.java
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SinkSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SourceSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/Sinks.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31572 little Refactoring to unfoldResource
  akka-stream/src/main/mima-filters/2.6.20.backwards.excludes/pr-31572-refactoring-unfold-resource.excludes
  akka-stream/src/main/scala/akka/stream/impl/UnfoldResourceSource.scala
  akka-stream/src/main/scala/akka/stream/impl/UnfoldResourceSourceAsync.scala
Labels: t:stream

#31533 =str Fold InHandler and OutHandler for operator WireTap.
  akka-stream/src/main/scala/akka/stream/scaladsl/Graph.scala
Labels: t:stream

#31532 =str Fold InHandler and OutHandler in RecoverWith operator.
  akka-stream/src/main/scala/akka/stream/impl/fusing/Ops.scala
Labels: t:stream

#31479 Custom stash capacity per entity (EventSourced and Durable)
  akka-docs/src/main/paradox/typed/persistence.md
  akka-persistence-typed-tests/src/test/scala/akka/persistence/typed/scaladsl/EventSourcedBehaviorStashSpec.scala
  akka-persistence-typed-tests/src/test/scala/akka/persistence/typed/state/scaladsl/DurableStateRevisionSpec.scala
  akka-persistence-typed/src/main/mima-filters/2.6.20.backwards.excludes/pr-31479-custom-stash-capacity.excludes
  akka-persistence-typed/src/main/scala/akka/persistence/typed/internal/EventSourcedBehaviorImpl.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/internal/EventSourcedSettings.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/javadsl/EventSourcedBehavior.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/scaladsl/EventSourcedBehavior.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/state/internal/DurableStateBehaviorImpl.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/state/internal/DurableStateSettings.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/state/javadsl/DurableStateBehavior.scala
  akka-persistence-typed/src/main/scala/akka/persistence/typed/state/scaladsl/DurableStateBehavior.scala
  akka-persistence-typed/src/test/java/jdocs/akka/persistence/typed/BasicPersistentBehaviorTest.java
  akka-persistence-typed/src/test/scala/docs/akka/persistence/typed/BasicPersistentBehaviorCompileOnly.scala
Labels: t:stream

#31600 Fix maximumObjectLength check in JsonFraming, #31569
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/JsonFramingSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/JsonObjectParser.scala
Labels: t:stream

#31605 !str Mark SubFlow and SubSource final.
  akka-stream/src/main/mima-filters/2.6.20.backwards.excludes/31605-mark-subSource-subFlow-final.excludes
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/SubFlow.scala
Labels: t:stream

#31424 =sbt Bump reactive-stream-version to 1.0.4
  project/Dependencies.scala
Labels: dependency-change
