Repository akka/akka, pull requests merged in 2022-04, with the labels that each got.

#31190 +str Add Flow#preMaterialize.
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/preMaterialize.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  project/StreamOperatorsIndexGenerator.scala
Labels: t:stream

#31289 +str Add Sink.never
  akka-docs/src/main/paradox/stream/operators/Sink/never.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SinkSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/Stages.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphStages.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Sink.scala
Labels: t:stream

#31287 =str Change Detacher to an object.
  akka-stream/src/main/mima-filters/2.6.19.backwards.excludes/detacher.excludes
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphStages.scala
Labels: t:stream

#31278 =str Reduce some Inhandler and Outhandler allocation.
  akka-stream/src/main/scala/akka/stream/impl/io/OutputStreamSourceStage.scala
  akka-stream/src/main/scala/akka/stream/impl/io/TcpStages.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/RestartFlow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/RestartSink.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/RestartSource.scala
  akka-stream/src/main/scala/akka/stream/stage/GraphStage.scala
Labels: t:stream

#31312 Fix StreamRefSerializer.serializeRemoteSinkFailure throwing NPE
  akka-stream/src/main/scala/akka/stream/serialization/StreamRefSerializer.scala
Labels: t:stream

#31319 Update metrics-core, metrics-jvm to 4.2.9
  project/Dependencies.scala
Labels: dependency-change

#31281 Upgrade jackson 2.13 version due to CVE
  project/Dependencies.scala
Labels: dependency-change

#31257 =str Make ConcurrentAsyncCallback extends AtomicReference directly.
  akka-stream/src/main/scala/akka/stream/stage/GraphStage.scala
Labels: t:stream

#31259 =str Fixup some docs in GraphStage.
  akka-stream/src/main/scala/akka/stream/stage/GraphStage.scala
Labels: t:stream

#31326 some minor wording updates
  akka-actor-tests/src/test/scala/akka/actor/ActorPathSpec.scala
  akka-bench-jmh/src/main/scala/akka/stream/EmptySourceBenchmark.scala
  akka-docs/src/main/paradox/persistence-schema-evolution.md
  akka-persistence/src/test/scala/akka/persistence/PersistentActorSpec.scala
  akka-persistence/src/test/scala/akka/persistence/journal/InmemEventAdaptersSpec.scala
  akka-remote/src/main/scala/akka/remote/artery/compress/CompressionTable.scala
  akka-stream-tests/src/test/scala/akka/stream/impl/fusing/InterpreterStressSpec.scala
Labels: t:stream

#28589 doc: fix Broadcast Stream operator async usage
  akka-docs/src/test/java/jdocs/stream/operators/BroadcastDocExample.java
  akka-docs/src/test/scala/docs/stream/operators/BroadcastDocExample.scala
Labels: tested, t:stream

#31283 =str Add specialized of unfoldAsync for Java.
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream/src/main/scala/akka/stream/impl/Unfold.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
Labels: t:stream

#31351 =build Update to scala 3.1.2
  project/AkkaBuild.scala
  project/Dependencies.scala
Labels: dependency-change

#31261 +str Add javadsl to Attributes.CancellationStrategy
  akka-stream/src/main/scala/akka/stream/Attributes.scala
Labels: t:stream

#31285 +str Add Flow#flattenOptional
  akka-docs/src/main/paradox/stream/operators/Flow/flattenOptional.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
Labels: t:stream

#31292 +str Add Flow/Source#alsotoAll
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/alsoToAll.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/java/akka/stream/javadsl/FlowTest.java
  akka-stream-tests/src/test/java/akka/stream/javadsl/SourceTest.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowAlsoToAllSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  project/AkkaDisciplinePlugin.scala
Labels: t:stream

#31344 =str Optimize UnfoldAsync and UnfoldResourceAsync when future is already complete
  akka-stream/src/main/scala/akka/stream/impl/Unfold.scala
  akka-stream/src/main/scala/akka/stream/impl/UnfoldResourceSourceAsync.scala
Labels: t:stream

#31279 =str Reduce the internal buffer usage of MergePrioritized.
  akka-stream/src/main/scala/akka/stream/scaladsl/Graph.scala
Labels: t:stream

#31373 =str Set EmptySource name to emptySource
  akka-stream/src/main/scala/akka/stream/impl/EmptySource.scala
Labels: t:stream
