Repository akka/akka, pull requests merged in 2022-05, with the labels that each got.

#29054 add eager completion option for zipLatest
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/GraphZipLatestWithSpec.scala
  akka-stream/src/main/boilerplate/akka/stream/scaladsl/ZipLatestWithApply.scala.template
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Graph.scala
Labels: tested, t:stream

#31314 Added support for context propagation to ActorFlow #31308
  akka-docs/src/main/paradox/stream/operators/ActorFlow/askWithContext.md
  akka-docs/src/main/paradox/stream/operators/ActorFlow/askWithStatusAndContext.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-typed/src/main/scala/akka/stream/typed/javadsl/ActorFlow.scala
  akka-stream-typed/src/main/scala/akka/stream/typed/scaladsl/ActorFlow.scala
  akka-stream-typed/src/test/java/docs/javadsl/ActorFlowCompileTest.java
  akka-stream-typed/src/test/scala/docs/scaladsl/ActorFlowSpec.scala
Labels: t:stream

#31129 Revert #30195 - Source.fromPublisher does not pick up attributes fix
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/AttributesSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SourceFromPublisherSpec.scala
  akka-stream/src/main/mima-filters/2.6.18.backwards.excludes/issue-30076-revert.excludes
  akka-stream/src/main/mima-filters/2.6.19.backwards.excludes/issue-30076-revert.excludes
  akka-stream/src/main/scala/akka/stream/impl/PhasedFusingActorMaterializer.scala
  akka-stream/src/main/scala/akka/stream/impl/Stages.scala
Labels: t:stream

#31387 Update aeron-client, aeron-driver to 1.38.1
  project/Dependencies.scala
Labels: dependency-change

#31404 stream: Add implicit not found message for Materializer
  akka-stream/src/main/scala/akka/stream/Materializer.scala
Labels: t:stream

#31380 stream: optimize JsonFraming
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/JsonFramingSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/JsonObjectParser.scala
Labels: t:stream

#31371 +str Add Sink.collect to javadsl.
  akka-docs/src/main/paradox/stream/operators/Sink/collect.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/java/akka/stream/javadsl/SinkTest.java
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
Labels: t:stream
