Repository akka/akka, pull requests merged in 2022-01, with the labels that each got.

#31043 Update metrics-core, metrics-jvm to 4.2.7
  project/Dependencies.scala
Labels: dependency-change

#31042 Update logback-classic to 1.2.10
  project/Dependencies.scala
Labels: dependency-change

#31044 Update scala3-library to 3.1.1-RC2
  project/Dependencies.scala
Labels: dependency-change

#31046 Update ssl-config-core 0.6.0 (was 0.4.3)
  akka-stream/src/main/scala/com/typesafe/sslconfig/akka/AkkaSSLConfig.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change

#30806 Akka #30797 new stream operator AggregateWithBoundary
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/aggregateWithBoundary.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/AggregateWithBoundarySpec.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/AggregateWithBoundary.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SubSource.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  akka-testkit/src/main/scala/akka/testkit/ExplicitlyTriggeredScheduler.scala
Labels: t:stream

#31047 Convenience operators for typed pub sub from streams
  akka-docs/src/main/paradox/stream/actor-interop.md
  akka-docs/src/main/paradox/stream/operators/PubSub/sink.md
  akka-docs/src/main/paradox/stream/operators/PubSub/source.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-stream-typed/src/main/scala/akka/stream/typed/javadsl/PubSub.scala
  akka-stream-typed/src/main/scala/akka/stream/typed/scaladsl/PubSub.scala
  akka-stream-typed/src/test/scala/akka/stream/typed/scaladsl/PubSubSpec.scala
  project/StreamOperatorsIndexGenerator.scala
Labels: t:stream

#31062 Fix compilation of stream tests on Scala 2.12
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/AggregateWithBoundarySpec.scala
Labels: t:stream

#31072 Bump shaded protobuf version to 3.16.1 for DoS fix
  project/Dependencies.scala
Labels: dependency-change

#31086 chore: scheduled link validation
  .github/workflows/link-validator.yml
  akka-distributed-data/src/main/scala/akka/cluster/ddata/Replicator.scala
  akka-docs/src/main/paradox/actors.md
  akka-docs/src/main/paradox/cluster-usage.md
  akka-docs/src/main/paradox/logging.md
  akka-docs/src/main/paradox/routing.md
  akka-docs/src/main/paradox/serialization-jackson.md
  akka-docs/src/main/paradox/split-brain-resolver.md
  akka-docs/src/main/paradox/testing.md
  akka-docs/src/main/paradox/typed/cluster-concepts.md
  akka-docs/src/main/paradox/typed/interaction-patterns.md
  akka-docs/src/main/paradox/typed/logging.md
  scripts/link-validator.conf
Labels: t:docs
