Repository akka/akka, pull requests merged in 2022-03, with the labels that each got.

#31123 Add unsafeViaData to FlowWithContext and SourceWithContext
  akka-docs/src/main/paradox/stream/stream-context.md
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowWithContextSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SourceWithContextSpec.scala
  akka-stream/src/main/mima-filters/2.6.18.backwards.excludes/flow-with-context-ops.excludes
  akka-stream/src/main/scala/akka/stream/javadsl/FlowWithContext.scala
  akka-stream/src/main/scala/akka/stream/javadsl/SourceWithContext.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/FlowWithContext.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/FlowWithContextOps.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/SourceWithContext.scala
Labels: t:stream

#31082 Use apidoc directive in serialization.md (#22904)
  akka-docs/src/main/paradox/serialization.md
  project/Paradox.scala
Labels: t:docs

#31211 Update jul-to-slf4j, log4j-over-slf4j, ... to 1.7.36
  project/Dependencies.scala
Labels: dependency-change

#31207 Update logback-classic to 1.2.11
  project/Dependencies.scala
Labels: dependency-change

#31182 harden RestartSpec - remove race condition
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/RestartSpec.scala
Labels: t:stream

#31183 Enable StreamRefsSpec 'cancel before emit' test with debug logging
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/StreamRefsSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/streamref/SourceRefImpl.scala
Labels: t:stream

#31209 Update gson to 2.9.0
  project/Dependencies.scala
Labels: dependency-change

#31188 =str Clean up Source#combine instance method code.
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31189 +str Add Source#mergePrioritizedN.
  akka-docs/src/main/paradox/stream/operators/Source/mergePrioritizedN.md
  akka-docs/src/test/java/jdocs/stream/operators/SourceOrFlow.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowMergeSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/GraphMergePrioritizedNSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31238 use jackson-scala-module 2.13.2 for akka-jackson-serialization_3
  project/Dependencies.scala
Labels: dependency-change

#31248 ssl-config: 0.6.0 -> 0.6.1
  project/Dependencies.scala
Labels: 2 - pick next, dependency-change

#31242 +str Add isEnqueued method to QueueOfferResult.
  akka-stream/src/main/mima-filters/2.6.18.backwards.excludes/queue-offer-result.excludes
  akka-stream/src/main/scala/akka/stream/QueueOfferResult.scala
Labels: t:stream

#31252 Revert: Update ssl-config-core 0.6.0 (was 0.4.3)
  project/Dependencies.scala
Labels: 2 - pick next, dependency-change

#31273 Use ssl-config 0.6.1 on Scala 3
  project/Dependencies.scala
Labels: dependency-change

#31264 Add `getAttributes` on `Graph`
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/GraphMergePrioritizedNSpec.scala
  akka-stream/src/main/mima-filters/2.6.18.backwards.excludes/issue-31142-Attributes.excludes
  akka-stream/src/main/scala/akka/stream/Graph.scala
  akka-stream/src/main/scala/akka/stream/javadsl/BidiFlow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/BidiFlow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31276 =str Reduce allocation of throttle.
  akka-stream/src/main/scala/akka/stream/impl/Throttle.scala
Labels: t:stream

#31286 Fix compilation error GraphMergePrioritizedNSpec Scala 2.12
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/GraphMergePrioritizedNSpec.scala
Labels: t:stream
