Repository akka/akka, pull requests merged in 2023-08, with the labels that each got.

#32020 bump: jimfs 1.3.0 (was 1.1)
  project/Dependencies.scala
Labels: dependency-change

#32034 improve a/an after get
  akka-actor-tests/src/test/scala/akka/actor/ActorMailboxSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/streamref/SourceRefImpl.scala
Labels: t:stream

#32031 perf: streamline recursion in mapAsyncPartitioned
  akka-stream-tests/src/test/scala/akka/stream/impl/PartitionedBufferSpec.scala
  akka-stream/src/main/scala/akka/stream/impl/Buffers.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/MapAsyncPartitioned.scala
Labels: t:stream

#32035 Add short-circuit support in retry pattern
  akka-actor-tests/src/test/java/akka/pattern/PatternsTest.java
  akka-actor-tests/src/test/scala/akka/pattern/RetrySpec.scala
  akka-actor/src/main/scala/akka/pattern/Patterns.scala
  akka-actor/src/main/scala/akka/pattern/RetrySupport.scala
Labels: t:stream

#32046 typo in scaladoc Concat$
  akka-stream/src/main/scala/akka/stream/impl/TraversalBuilder.scala
Labels: t:stream

#32048 clean GraphAssembly related scaladoc since which has gone for a while
  akka-stream/src/main/scala/akka/stream/impl/TraversalBuilder.scala
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphInterpreter.scala
Labels: t:stream

#32053 Fix typo in SourceSpec.
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/SourceSpec.scala
Labels: t:stream

#31831 chore: Drop deprecated typesafe ssl-config usage
  akka-stream-tests/src/test/scala/akka/stream/io/DeprecatedTlsSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/io/TcpSpec.scala
  akka-stream/src/main/mima-filters/2.7.0.backwards.excludes/31822-drop-deprecated-ssl-config.excludes
  akka-stream/src/main/mima-filters/2.8.4.backwards.excludes/drop-ssl-config.excludes
  akka-stream/src/main/scala/akka/stream/javadsl/TLS.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Tcp.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/TLS.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Tcp.scala
  akka-stream/src/main/scala/com/typesafe/sslconfig/akka/AkkaSSLConfig.scala
  akka-stream/src/main/scala/com/typesafe/sslconfig/akka/SSLEngineConfigurator.scala
  akka-stream/src/main/scala/com/typesafe/sslconfig/akka/util/AkkaLoggerBridge.scala
  plugins/serialversion-remover-plugin/src/main/scala/akka/Plugin.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change
