Repository akka/akka, pull requests merged in 2023-04, with the labels that each got.

#31896 bump: logback-classic 1.2.12 (was 1.2.11)
  project/Dependencies.scala
Labels: dependency-change

#31902 =str Implement Source.never as a dedicated GraphStage.
  akka-stream/src/main/scala/akka/stream/impl/fusing/GraphStages.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31914 bump: Scala 3.2.2
  .github/workflows/binary-compatibility-checks.yml
  .github/workflows/nightly-builds.yml
  akka-actor-tests/src/test/scala/akka/pattern/AskSpec.scala
  akka-actor-typed-tests/src/test/scala/docs/akka/typed/InteractionPatternsSpec.scala
  akka-actor-typed/src/main/mima-filters/2.8.0.backwards.excludes/scala-3.2.2.excludes
  akka-cluster-metrics/src/test/scala/akka/cluster/metrics/MetricSpec.scala
  akka-remote/src/test/scala/akka/remote/AccrualFailureDetectorSpec.scala
  akka-stream-tests/src/test/scala/akka/stream/ActorMaterializerSpec.scala
  project/Dependencies.scala
Labels: t:stream, dependency-change

#31906 fix: Refactor concurrency in AsyncDnsResolver
  akka-actor/src/main/scala/akka/io/dns/internal/AsyncDnsResolver.scala
Labels: 2 - pick next
