Repository akka/akka, pull requests merged in 2023-06, with the labels that each got.

#31956 chore: bump paradox version
  project/plugins.sbt
Labels: dependency-change

#31959 !sbt Update Scala to 2.12.18 & 2.13.11
  akka-cluster-sharding/src/test/scala/akka/cluster/sharding/passivation/HillClimbingAdmissionOptimizerSpec.scala
  akka-docs/src/test/scala/docs/stream/cookbook/RecipeSplitter.scala
  project/Dependencies.scala
Labels: dependency-change

#31960 +str Add Flow contramap.
  akka-docs/src/main/paradox/stream/operators/Flow/contramap.md
  akka-docs/src/main/paradox/stream/operators/index.md
  akka-docs/src/test/scala/docs/stream/operators/ContraMap.scala
  akka-stream-tests/src/test/java/akka/stream/javadsl/FlowTest.java
  akka-stream-tests/src/test/scala/akka/stream/scaladsl/FlowSpec.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
Labels: t:stream

#31969 fix: AllocationStrategy in ShardedDaemonProcess
  akka-cluster-sharding-typed/src/main/scala/akka/cluster/sharding/typed/internal/ShardedDaemonProcessImpl.scala
Labels: bug

#31947 fix: Try to limit spin loop in TLSActor #29922
  akka-stream/src/main/scala/akka/stream/impl/io/TLSActor.scala
Labels: t:stream

#31975 fix: Backport limit spin loop in TLSActor #29922
  akka-stream/src/main/scala/akka/stream/impl/io/TLSActor.scala
Labels: t:stream

#31989 bump: commons-io 2.13.0 (was 2.12.0)
  project/Dependencies.scala
Labels: dependency-change

#31982 chore: Document stream preMaterialize caveat around error propagation
  akka-docs/src/main/paradox/stream/operators/Sink/preMaterialize.md
  akka-docs/src/main/paradox/stream/operators/Source-or-Flow/preMaterialize.md
  akka-stream/src/main/scala/akka/stream/javadsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/javadsl/Source.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Flow.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Sink.scala
  akka-stream/src/main/scala/akka/stream/scaladsl/Source.scala
Labels: t:stream

#31992 bump: metrics-core, metrics-jvm 4.2.19 (was 4.2.18)
  project/Dependencies.scala
Labels: dependency-change

#32003 Cisco adding akka book
  akka-docs/src/main/paradox/additional/books.md
Labels: t:docs
